_ReSharper.*
obj
bin
Bin
Debug
Release
*.user
*.pdb
*.suo
*.sln
*.DotSettings
*.Generated.cs
*.cache
*.vspscc
*.log
*.ncb
*.pch
*.sdf
*.zip
*.mdf
*.snk

packages/*/*
depend/*
.vs/