<?xml version="1.0" encoding="utf-8" ?>
<CmdTool xsi:noNamespaceSchemaLocation="http://csharptest.net/downloads/schema/CmdTool.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <match filespec="*.resx">
    <generator debug="false">
      <execute exe="$(CmdToolDir)CSharpTest.Net.Generators.exe" />
      <arg value="ResX"/>
      <arg value="-input=$(InputPath)"/>
      <arg value="-namespace=$(Namespace)"/>
      <arg value="-class=$(ClassName)"/>
      <arg value="-public=false"/>
      <arg value="-partial=true"/>
      <arg value="-test=true"/>
      <arg value="-rxns=$(DefaultNamespace)"/>
      
      <std-output extension=".Designer.cs"/>
    </generator>
  </match>
<!--
CmdTool - Variable replacement help:

General formatting:
$(VARIABLE) = will be replaced with the variable from the list below
$(VARIABLE:xxx=yyy) = will be replaced with the variable from the list below,
                      replacing the literal string 'xxx' with the substitution
                      value of 'yyy'
$(VARIABLE:xxx=yyy:aaa=bbb) = will be replaced with the variable from the list
                      below, replacing the literal string 'xxx' with the
                      substitution value of 'yyy' and again replacing 'aaa'
                      with 'bbb'
					  
VARIABLES DEFINED (Example from CSharpTest.Net.Library):

AppDesignerFolder = 'Properties'
AssemblyName = 'CSharpTest.Net.Library'
AssemblyOriginatorKeyFile = 'keys\csharptest.net.snk'
ClassName = 'Resources'
CmdToolDir = 'C:\Projects\Library\bin\'
Configuration = 'Debug'
DebugSymbols = 'True'
DebugType = 'pdbonly'
DefaultNamespace = 'CSharpTest.Net'
DefineConstants = 'NET20;TRACE'
DocumentationFile = '$(OutputPath)$(AssemblyName).xml'
ErrorReport = 'none'
InputDir = 'C:\Projects\Library\'
InputName = 'Resources.resx'
InputPath = 'C:\Projects\Library\Resources.resx'
IntermediateOutputPath = '$(OutputPath)obj\$(AssemblyName)\'
Namespace = 'CSharpTest.Net'
OutputPath = '..\bin\'
OutputType = 'Library'
Platform = 'AnyCPU'
ProductVersion = '9.0.30729'
ProjectDir = 'C:\Projects\Library\'
ProjectExt = '.csproj'
ProjectFileName = 'Library.csproj'
ProjectGuid = '{7BD5EDD1-445C-46D1-A0B2-4B68CB51EADB}'
ProjectName = 'Library'
ProjectPath = 'C:\Projects\Library\Library.csproj'
PseudoPath = 'C:\Projects\Library\Resources.resx'
RootNamespace = 'CSharpTest.Net'
SchemaVersion = '2.0'
SignAssembly = 'true'
TargetExt = '.dll'
TargetFileName = 'CSharpTest.Net.Library.dll'
TargetFrameworkVersion = 'v2.0'
TargetName = 'CSharpTest.Net.Library'
TreatWarningsAsErrors = 'True'
WarningLevel = '4'

-->

</CmdTool>
